.home-image {
  background-image: url("../res/computer-blue-keyboard-unsplash.jpg");
  background-size: cover;
  filter: brightness(70%);
}

.nav-item {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.btn-learn {
  background-color: transparent !important;
  border-color: white;
  border-width: 2px;
  border-radius: 6px;
}

.btn-learn:hover{
    color: #1ad67e;
    border-color: #1ad67e;
}
