.home-image {
  background-image: url("../res/computer-blue-keyboard-unsplash.jpg");
  background-size: cover;
  filter: brightness(70%);
}

.btn-learn {
  background-color: transparent !important;
  border-color: white;
  border-width: 2px;
  border-radius: 6px;
}

.btn-learn:hover{
    color: #0da4e3;
    border-color: #0da4e3;
}
